p{
	padding: 40px;
	color:black;
	font-weight: bold;
}

.container{
	 width: 800px;
	 margin:40px auto 0;
	 display:table;
	 box-sizing: border-box;
}
 .column{
	background:yellow;
	display:table-cell;
	padding:10px;
	width:33.33333%;
	text-align: center;
	color:#fff;
	border:1px solid black;
	box-sizing: border-box;
}
h4{
   border:1px solid black;
   color:white;

   width:70px;
   box-sizing: border-box;
   float: right;
}
h1{
	text-align:center;
	color:black;
}

.row:nth-child(1) .column:nth-child(1){
	background: yellow;
}
.row:nth-child(1) .column:nth-child(2){
	background:#ADD8E6;

}
.row:nth-child(1) .column:nth-child(3){
	background:#8accc3;
}
.column:nth-child(1) h4:nth-child(1){
  background-color: #D3D3D3;
   color:black;
}
.column:nth-child(2) h4:nth-child(1){
      background-color: #D3D3D3;
      color:black;	
	}
	.column:nth-child(3) h4:nth-child(1){
		background-color: #D3D3D3;
		color:black;
	}

@media(min-width: 992px){
	.container{
		margin:0;
		padding: 10px;
		width: 100%
	}
	
}	
	@media(min-width: 768px) and (max-width: 991px){
	 .container{
	 	margin:0;
	 	padding:10px;
	 	width:100%;
	 }
       .column:nth-child(3){
       	margin:0;
       	padding:10px;
       	display: block;
       	width:100%;
       }
   }
      @media(max-width:767px){
	.container{
		margin:0;
		padding: 10px;
		width: 100%;
	}
	.column{
		margin:0;
		width:100%;
		display: block;
	}

}